.App {
  text-align: center;
}

h2 {
  font-weight:300;
}

.App-logo {
  height: 80px;
}

.App-header {
  margin: 40px 0 0;
  padding: 20px;
}

.Weather-body {
  margin-top:30px;
}

.stateInput {
  margin-right:10px;
}

.app-intro {
  font-size: 22px;
  padding:50px;
}

.app-intro span.intro {
  font-size:16px;
  display:block;
  margin-bottom:20px;
  font-weight:normal;
}

button {
  padding:5px 10px;
  margin-left:10px;
}

input {
  padding:5px 10px;
}

.errorText {
  color:red;
}

.temperature {
  font-size:60px;
  font-weight:700;
}